body,
html {
    padding: 0;
    margin: 0;
    background-color: #F3F3F3;
}

#header {
    /* background-color: yellow; */
    height: 75px;
    min-width: 800px;
    border-bottom: 5px solid #E8804C;
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
}

h3 {
    color: white;
    font-size: 1rem;
    margin-bottom: 2px;
}

h4 {
    color: #30C3CD;
    font-size: 1.2rem;
    margin-bottom: 2px;
}

#logo {
    margin: 15px;
    /* padding-top: 15px;
    margin-right: 20px; */
    float: left;
}

p {
    padding: 24px 0;
}

li>p.date {
    padding: 0;
    color: #F3F3F3;
    font-size: 10px;
    margin: 0;
}

.container {
    padding: 0;
    margin: 0;
    background-color: yellow;
}

.center-all {
    width: 800px;
}

#map {
    background-color: teal;
    height: 500px;
    border-bottom: 5px solid #E8804C;
    margin-bottom: 5px;
}

#temperature {
    background-color: #30C3CD;
    height: 500px;
    border-bottom: 5px solid #E8804C;
}

#fact-boxes {
    height: 200px;
    background-color: #F3F3F3;
    min-width: 800px;
}

#california-data {
    height: 200px;
    background-color: #1697B7;
    min-width: 800px;
    border-bottom: 5px solid #E8804C;
}

#footer {
    height: 100px;
    background-color: #F3AD78;
    min-width: 800px;
    border-bottom: 5px solid #E8804C;
}

#box1 {}

#box2 {
    background-color: #1697B7;
    height: 250px;
}


/* .row {
    padding: 0;
    margin: 0;
    background-color: yellow;
} */

.row-specs {
    height: 300px;
    background-color: green;
}

h2 {
    color: black;
    padding: 0;
    padding-left: 35px;
    margin: 0;
    font-size: 30px;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #5deb74;
    color: #234c5e;
}

.custom2 .leaflet-popup-tip,
.custom2 .leaflet-popup-content-wrapper {
    background: #e0f56a;
    color: #234c5e;
}

.custom3 .leaflet-popup-tip,
.custom3 .leaflet-popup-content-wrapper {
    background: #ff8750;
    color: #234c5e;
}


/* CSS from the Leaflet-Choropleth documentation */

.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #555;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    column-count: 2;
}

.legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
    text-align: center;
}

.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
}

.range1 {
    background-color: #5deb74;
}

.range2 {
    background-color: #e0f56a;
}

.range3 {
    background-color: #ff8750;
}

.legend ul.test {
    float: right;
    position: relative;
}

div.leaflet-popup-content p {
    font-size: 8px !important;
    margin: 0;
    padding: 0;
}


/*  Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    ...
}


/* // Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    ...
}


/* // Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    ...
}


/* // Large devices (desktops, less than 1200px) */

@media (max-width: 2048.98px) {}


}
svg {
    height: 300px;
    width: 100%;
    border: 1px solid gray;
    margin: 0;
    padding: 0;
}
div#viz {
    font-weight: bold;
    font-size: 40px;
}
div.small_details {
    font-size: 10px;
    color: black;
}
div#magnitude_info {
    font-size: 60px;
    font-weight: bold;
    height: 250px;
    text-align: center !important;
    padding-top: 75px;
    width: 200px;
    min-width: 100px;
    font-family: 'Asap', sans-serif;
    color: white;
}
p.mag-number {
    -webkit-text-stroke: 3px #1697B7;
    -webkit-text-stroke-width: thin;
    margin: 0;
    padding: 0;
}
div#weather_info {
    font-size: 14px;
    font-weight: bold;
    height: 250px;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    font-family: 'Asap', sans-serif;
}
div.col>ul {
    font-size: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul>li {
    font-size: 16px;
    margin: 7px 0;
    margin-left: 0;
}
circle {
    fill: pink;
    stroke: black;
    stroke-width: 1px;
}
circle.active {
    fill: red;
}
circle.inactive {
    fill: gray;
}