body,
html {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: yellow;
}

.center-all {
    width: 800px;
}

.map-col {
    background-color: teal;
    height: 600px;
    background-color: brown;
}

#box1 {}

#box2 {}

.row {
    padding: 0;
    margin: 0;
    background-color: yellow;
}

.row-specs {
    height: 300px;
    background-color: green;
}

h2 {
    color: black;
    padding: 0;
    padding-left: 35px;
    margin: 0;
    font-size: 30px;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #5deb74;
    color: #234c5e;
}

.custom2 .leaflet-popup-tip,
.custom2 .leaflet-popup-content-wrapper {
    background: #e0f56a;
    color: #234c5e;
}

.custom3 .leaflet-popup-tip,
.custom3 .leaflet-popup-content-wrapper {
    background: #ff8750;
    color: #234c5e;
}


/* CSS from the Leaflet-Choropleth documentation */

.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #555;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    column-count: 2;
}

.legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
    text-align: center;
}

.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
}

.range1 {
    background-color: #5deb74;
}

.range2 {
    background-color: #e0f56a;
}

.range3 {
    background-color: #ff8750;
}

.legend ul.test {
    float: right;
    position: relative;
}


/*  Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    ...
}


/* // Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    ...
}


/* // Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    ...
}


/* // Large devices (desktops, less than 1200px) */

@media (max-width: 2048.98px) {
    .container {
        max-width: 100%;
    }
}