body,
html {
    padding: 0;
    margin: 0;
    background-color: #F3F3F3;
}

#header {
    /* background-color: yellow; */
    height: 75px;
    min-width: 800px;
    border-bottom: 5px solid #E35205;
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
}

h3 {
    color: #083e66;
    font-size: 1rem;
    margin-bottom: 2px;
    font-weight: bold;
}

h4 {
    color: #30C3CD;
    font-size: 1.2rem;
    margin-bottom: 2px;
}

#logo {
    margin: 15px;
    /* padding-top: 15px;
    margin-right: 20px; */
    float: left;
}

p {
    padding: 24px 0;
}

span.date {
    padding: 0;
    color: #43505d;
    font-size: 10px;
    margin: 0;
}

span.mag_title {
    color: #e2ebf2;
    font-size: 1rem;
    font-weight: bold;
    vertical-align: top;
    text-align: left;
}

li>p.date {
    padding: 0;
    color: #43505d;
    font-size: 10px;
    margin: 0;
}

.container {
    padding: 0;
    margin: 0;
    background-color: yellow;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.center-all {
    width: 800px;
}

#map {
    background-color: teal;
    height: 500px;
    border-bottom: 5px solid #E35205;
    min-width: 50%;
}

#temperature {
    background-color: #e2ebf2;
    height: 500px;
    border-bottom: 5px solid #E35205;
    min-width: 50%;
    padding: 0;
    margin: 0;
}

#fact-boxes {
    height: 250px;
    background-color: #e2ebf2;
    /* min-width: 800px; */
    border-width: thin;
    border-style: solid;
    border-color: #43505d;
    margin: 0;
    padding: 15px 15px 0px 15px;
    text-align: center;
    overflow: hidden;
}

#california-data {
    height: 200px;
    background-color: #083e66;
    min-width: 800px;
    border-bottom: 5px solid #E35205;
}

#footer {
    height: 100px;
    background-color: #F3AD78;
    min-width: 800px;
    border-bottom: 5px solid #E35205;
}

#box1 {
    width: 100%
}

#box2 {
    background-color: #083e66;
    height: 250px;
    min-width: 400px;
    border-bottom: 5px solid #E35205;
}

.row {
    padding: 0;
    margin: 0;
    /* background-color: yellow; */
}

.row-specs {
    height: 300px;
    background-color: green;
}

h1 {
    color: #43505d;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    color: black;
    padding: 0;
    padding-left: 35px;
    margin: 0;
    font-size: 30px;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #e0f56a;
    color: #234c5e;
}

.custom2 .leaflet-popup-tip,
.custom2 .leaflet-popup-content-wrapper {
    background: #e9c082;
    color: #234c5e;
}

.custom3 .leaflet-popup-tip,
.custom3 .leaflet-popup-content-wrapper {
    background: #ff8750;
    color: #234c5e;
}


/* CSS from the Leaflet-Choropleth documentation */

.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #555;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    column-count: 2;
}

.legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
    text-align: center;
}

.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
}

.range1 {
    background-color: #e0f56a;
}

.range2 {
    background-color: #e9c082;
}

.range3 {
    background-color: #ff8750;
}

.legend ul.test {
    float: right;
    position: relative;
}

div.leaflet-popup-content p {
    font-size: 8px !important;
    margin: 0;
    padding: 0;
}

svg {
    height: 300px;
    width: 100%;
    border: 1px solid gray;
    margin: 0;
    padding: 0;
}

div#viz {
    font-weight: bold;
    font-size: 40px;
}

div.small_details {
    font-size: 10px;
    color: rgb(235, 235, 235);
    padding: 0;
    margin: 0;
}

span.small_details {
    font-size: 14px;
    color: #083e66;
    padding: 0;
    margin: 0;
}

span.title {
    font-size: 16px;
    font-weight: bold;
    color: #083e66;
    padding: 0;
    margin: 0;
    display: inline-block;
    /* float:left;  remove */
}


/* hover over div, underline */

div.col-md-8:hover span.title {
    text-decoration: underline;
    text-decoration-color: #38b0c9;
    text-decoration-thickness: 4px;
}

div#magnitude_info {
    font-size: 60px;
    font-weight: bold;
    height: 250px;
    min-width: 120px;
    width: 120px;
    font-family: 'Asap', sans-serif;
    color: white;
    background-color: #43505D;
    margin: 0;
    padding: 15px;
    vertical-align: top;
    text-align: left;
}

p.mag-number {
    -webkit-text-stroke: 3px #212529;
    -webkit-text-stroke-width: thin;
    margin: 0;
    padding: 0px 0px 10px 0px;
    font-size: 50px;
    text-align: center !important;
}

div#weather_info {
    font-size: 14px;
    font-weight: bold;
    height: 250px;
    text-align: left;
    margin: 0;
    padding: 15px 0px 0px 15px;
    font-family: 'Asap', sans-serif;
}

div.col-7>ul {
    font-size: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul>li {
    font-size: 16px;
    margin: 7px 0 0 0;
    margin-left: 0;
}

circle {
    fill: pink;
    stroke: black;
    stroke-width: 1px;
}

circle.active {
    fill: red;
}

circle.inactive {
    fill: gray;
}

.col,
.col-lg,
.col-md {
    padding: 0px 0px 0px 0px;
}

td {
    padding: 10px 10px 0px 10px;
    text-align: center;
}


/* 
@keyframes mymove {
    50% {
        padding: 15px;
    }
} */


/* // Extra small devices (portrait phones, less than 576px) */


/* // No media query since this is the default in Bootstrap */


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    ...
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #fact-boxes {
        min-width: 800px;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    #map {
        min-width: 400px;
    }
    #temperature {
        min-width: 400px;
    }
    .justify-content:;
    #fact-boxes {
        min-width: 800px;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    #map {
        min-width: 400px;
    }
    #temperature {
        min-width: 400px;
    }
    #fact-boxes {
        min-width: 800px;
    }
}